.mainBox {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.title {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 500;
  span {
    font-weight: 700;
  }
}
.slTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 28px 0;
}
.uploadBox {
  height: 180px;
  display: flex;
  justify-content: space-between;
  > div {
    width: 48%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 3px, rgba(0, 0, 0, 0.06) 0px 4px 12px;
    cursor: pointer;
    padding: 28px 20px 12px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
    h3 {
      margin-top: 4px;
      font-size: 20px;
      font-weight: 500;
    }
    button {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      font-size: 14px;
      font-weight: 400;
      color: rgb(255, 255, 255);
      cursor: pointer;
      gap: 4px;
      padding: 12px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      border-radius: 12px;
      background-color: rgb(86, 83, 255);
      transition: 0.3s;
    }
    button:hover {
      background-color: rgb(35, 32, 225);
    }
  }
  > div:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.12) 0px 4px 12px;
  }
  .lef {
    background-image: url("https://popaife.s3-accelerate.amazonaws.com/home-quick-access/create-new-presentation.png");
  }
  .rig {
    background-image: url("https://popaife.s3-accelerate.amazonaws.com/home-quick-access/image-chat.png");
  }
}
.templateBox {
  display: flex;
  justify-content: space-between;
  > div {
    width: 32%;
    height: 240px;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 3px, rgba(0, 0, 0, 0.06) 0px 4px 12px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    transition: 0.3s;
    padding: 12px !important;
    img {
      width: 100%;
      border-radius: 4px;
    }
    .template_title {
      font-weight: 600;
      margin: 6px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
    }
    .template_desc {
      font-size: 12px;
    }
  }
  > div:hover {
    box-shadow: rgba(0, 0, 0, 0.105) 2px 4px 8px, rgba(0, 0, 0, 0.06) 2px 6px 16px;
    margin-top: -4px;
  }
}
